@media screen and (min-width: 1540px) {
    .nav-item a{
        color: black;
        font-weight: 600;
        font-size: 18px ;
    }
    .git{
        width: 40px;
    }
}
@media screen and (max-width: 1540px) {
    header{
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 10;
    }
    .nav-item .nav-link{
        color: #0B1C2C;
        font-weight: 400;
        font-size: 16px ;
    }
    .nav-item .nav-link:hover{
        text-underline-offset: 8px;
        text-decoration-thickness: 2px !important;
        text-decoration: underline ;
        text-decoration-color:  #C9A55C; 
    }
    .git{
        width: 200px;
        text-align: center;
        
    }
    .git .btn{
        background-color: #07233d;
        border: #0B1C2C;
        color: #ffffff;
        text-decoration: none;
    }
    .git .btn span{
        color: #C9A55C;

    }
    .git .btn:hover span{
        color: #07233d;
    }
    .git .btn:hover{
        background-color: #C9A55C;
    }
    .hero{
        background-color:#F7F6F2;
        padding-top: 175px !important;
        display: flex;
        justify-content: space-around;
    }
    .hero .txt .lhead{
        color: #C9A55C;
        font-weight: 400;
        font-size: 19px;
    }
    .hero .txt .head{
        color: #07233d;
        font-weight: 820;
        font-size: 52px;
        line-height: 65px;
    }
    .hero .txt .head span{
        color: #C9A55C;
        font-weight: 700;
    }
    .hero .txt .text{
        color: black;
        font-weight: 320;
    }
    .hero .txt .button a:first-child{
        padding: 14px;
        padding-left: 40px;
        padding-right: 40px;
        color: white;
        background-color: #07233d;
        border: 1px solid #07233d;
        border-radius: 40px;
        font-weight: 300;
        font-size: 15px;
    }
    .hero .txt .button a:first-child:hover{
        color: #07233d;
        background-color: #C9A55C;
        border: 1px solid #C9A55C;
        transition: all ease-in-out .3s;
    }
    .hero .txt .button a:last-child{
        padding: 14px;
        padding-left: 30px;
        padding-right: 30px;
        color: #07233d;
        border: 1px solid #07233d;
        border-radius: 40px;
        font-weight: 300;
        font-size: 15px;
    }
    .hero .txt .button a:last-child:hover{
        color: #07233d;
        background-color: #C9A55C;
        border: 1px solid #C9A55C;
        transition: all ease-in-out .3s;
    }
    .carousel{
        width: 700px !important;
    }
    .carousel-item{
        background-color: #0B1C2C;
        padding: 30px;
        height: 450px;
        color: white;
        border-radius: 30px;
    }
    .carousel-item .fcs{
        justify-content: space-around;
    }
    .carousel-item .fcs .fcst .lhead{
        color: #C9A55C;
        font-weight: 500;
        font-size: 16px;
    }
    .carousel-item .fcs .fcst .head{
        color: white;
        font-weight: 700;
        font-size: 30px;
        line-height: 40px;
    }
    .carousel-item .fcs .fcst .text{
        font-size: 15px;
        font-weight: 300;
    }
    .carousel-item .fcs .fcst .button .btn{
        color: #C9A55C;
        border: 1px solid #c9a55c7c;
        background-color: #081521;
        padding: 18px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 40px;
    }
    .carousel-item .fcs .fcst .button .btn:hover{
        color: white;
        border: 1px solid #C9A55C;
        background-color: #C9A55C;
    }
    .carousel-item .fcs .fcsi img{
        width: 200px !important;
    }
    .carousel-item .fcfoot{
        border: 1px solid rgba(255, 255, 255, 0.306);
        background-color:#ffffff1c;
        border-radius: 20px;
        justify-content: space-evenly;
    }
    .carousel-item .fcfoot div{
        font-size: 15px;
        font-weight: 250 !important;
    }
    .carousel-item .fcfoot .divider{
        margin-top: 8px;
        width:1px;
        height:30px;
        background-color: rgba(255, 255, 255, 0.156);
    }
    
}
@media screen and (max-width: 1024px) {
    .nav-item a{
        color: black;
        font-weight: 600;
        font-size: 18px ;
    }
    .git{
        width: 40px;
    }
}
@media screen and (max-width: 768px) {

}


