.oswald-uniquifier {
    font-family: Oswald, sans-serif;
}
.schoolbell-regular {
    font-family: Schoolbell, cursive;
}
@media screen and (min-width: 1540px) {
    header{
        z-index: 2;
        position: fixed;
        justify-self: center;
        width: 100%;
    }
    .navbar-brand img{
        width:100px;
    }
    .nav{
        background-color: #b3e8e3;
    }
    .nav-item{
        list-style-type: none;
    }
    .wtbuy{
        border: 0;
        background-color: rgb(5, 73, 39);
        font-size: 22px;
        font-family: Oswald;
        border: 4px solid rgb(5, 73, 39);
        font-weight: 600;
    }
    .wtbuy:hover{
        color: rgb(5, 73, 39) !important;
        background-color: #e0de6e;
        border: 4px solid rgb(5, 73, 39);
    }
    .nav-item a{
        color: #000000;
        font-weight: 690;
        font-size: 20px;
        font-family: Oswald;
    }
    .nav-item a:hover{
        color: rgb(6, 100, 53);
    }
    .aboutsgm{
        background-color: #b3e8e3;
        background-image: url('../img/fallback-bg-bimage.webp');
        z-index: 1;
        position: relative;
    }
    
    .txttme {
        color: rgb(5, 73, 39);
        font-weight: 800;
        font-size: 97px;
        font-family: oswald;
        line-height: 115px;
    }
    .txttme span{
        color: #91b122;
    }
    .tmeshopexplore{
        display: flex;
        flex-direction: row;
        position: relative;
    }
    .tmeshopexplore .tmeshop{
        background-color: #ff802f;
        color: white;
        border: 5px solid #ff802f;
        border-radius: 40px;
        font-size: 18px;
        font-weight: 600;
        font-family: oswald;
        padding: 16px;
        padding-left: 30px;
        padding-right: 30px;
        text-decoration: none;
    }
    .tmeshopexplore .tmeshop:hover{
        background-color: #fae1d7;
        color: #ff802f;
    }
    .tmeshopexplore .tmeexplore{
        color: rgb(5, 73, 39);
        text-decoration-style: wavy;
        font-size: 18px;
        font-weight: 550;
        margin: 17px;
    }
    .tmeshopexplore .tmeexplore:hover{
        color: #91b122;
    }
    .tmecube{
        margin-bottom: -45px;
        margin-top: -40px !important;
    }

    
    .toogood .toogoodtofu{
        font-weight: 900;
        font-size: 100px;
        font-family: oswald;
        text-align: center;
        margin: 40px;
    }
    .toogood .toogoodtxt{
        color: rgba(0, 0, 0, 0.65);
        max-width: 654px;
        text-align: center;
        font-size: 18px;
        font-family: oswald;
        display: flex;
        justify-self: center;
        margin: 30px;
    }
    .toogood .toogoodtxt span{
        color: #000000;
        font-family: Schoolbell;
        
    }
    

    .footer{
        background-color: #698e34;
        height: 450px;
        align-content: center;
        padding-bottom: 48px;
    }
    .footer .social-media{
        display: flex;
        flex-direction: row;
        justify-self: center;
        padding-top: 48px;
        margin: 16px;
    }
    .footer .social-media div{
        color: white;
        font-size: 23px;
        margin-left: 24px !important;
        margin-right: 24px !important;
    }
    .footer .social-media div:hover a{
        color: #1c4730;
    }
    .footer .fnav{
        justify-self: center;
        display: flex;
        flex-direction: row;
        margin: 48px;
    }
    .footer .fnav div{
        margin-left: 16px !important;
        margin-right: 16px !important;
    }
    .footer .fnav div a{
        color: white;
        text-decoration: none;
        font-family: oswald;
        font-size: 20px;
        font-weight: 600;
       
    }
    .footer .fnav div:hover a{
        color: #1c4730;
    }
    .footer .privacy{
        display: flex;
        flex-direction: row;
        justify-self: center;
        margin: 48px;
    }
    .footer .privacy div a{
        color: white;
        opacity: .5;
        font-family: oswald;
        font-size: 15px;
    }
    .footer .privacy div:hover a{
        text-decoration: none;
    }
    .footer .copyright{
        color: white;
        justify-self: center;
        font-family: oswald;
        font-size: 18px;
        font-weight: 550;
    }
    .footer .develop{
        justify-self: center;
        margin-top: -15px;
    }
    .footer .develop a{
        color: white;
        font-family: oswald; 
        opacity: 0.5; 
        text-decoration: none; 
        font-size: 14px;
    }
    .footer .develop:hover a{
        text-decoration: underline;
    }
}
@media screen and (max-width: 1540px) {
    header{
        z-index: 2;
        position: fixed;
        justify-self: center;
        width: 100%;
    }
    .navbar-brand img{
        width:100px;
    }
    
    .nav-item{
        list-style-type: none;
    }
    .wtbuy{
        border: 0;
        background-color: rgb(5, 73, 39);
        font-size: 22px;
        font-family: Oswald;
        border: 4px solid rgb(5, 73, 39);
        font-weight: 600;
    }
    .wtbuy:hover{
        color: rgb(5, 73, 39) !important;
        background-color: #e0de6e;
        border: 4px solid rgb(5, 73, 39);
    }
    .nav-item a{
        color: white;
        font-weight: 690;
        font-size: 20px;
        font-family: Oswald;
    }
    .nav-item a:hover{
        color: rgb(6, 100, 53);
    }
    .aboutsgm{
        background-image: url('../img/about-bg.jpg');
        background-size: 100%;
        z-index: 1;
        position: relative;
        padding-top: 300px;
        padding-bottom: 100px;
    }
    .aboutsgm .container{
        justify-self: left;
    }
    .txttme {
        color: white;
        font-weight: 800;
        font-size: 97px;
        font-family: oswald;
        line-height: 115px;
    }
    .tme-text{
        padding-left: 100px;
    }
    .tmeshopexplore{
        display: flex;
        flex-direction: row;
        position: relative;
    }
    .tmeshopexplore .tmeshop{
        background-color: #ff802f;
        color: white;
        border: 5px solid #ff802f;
        border-radius: 40px;
        font-size: 18px;
        font-weight: 600;
        font-family: oswald;
        padding: 16px;
        padding-left: 30px;
        padding-right: 30px;
        text-decoration: none;
    }
    .tmeshopexplore .tmeshop:hover{
        background-color: #fae1d7;
        color: #ff802f;
    }
    .tmeshopexplore .tmeexplore{
        color: white;
        text-decoration-style: wavy;
        font-size: 18px;
        font-weight: 550;
        margin: 17px;
    }
    .tmeshopexplore .tmeexplore:hover{
        color: #91b122;
    }


    .about-us{
        background-color: #00a1a7;
        padding: 20px;
        padding-top: 115px;
        padding-bottom: 115px;
    }
    .about-us .ourstory{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .about-us .ourstory .ourstory-txt{
        display: flex;
        flex-direction: column;
        max-width: 900px;
    }
    .about-us .ourstory .ourstory-txt .heading{
        color: white;
        font-size: 40px;
        font-weight: 700;
        font-family: oswald;
    }
    .about-us .ourstory .ourstory-txt .sub-heading{
        color: rgba(255, 255, 255, 0.714);
        font-size: 25px;
        font-weight: 600;
        font-family: oswald;
    }
    .about-us .ourstory .ourstory-txt .txt{
        color: white;
        font-size: 17px;
        font-weight: 350;
        font-family: oswald;
    }
    .about-us .ourstory .ourstory-img img{
        width: 300px;
        border: 10px solid white;
        transform: rotate(20deg);
    }
    

    .om{
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: #b3e8e3;
    }
    .om .ourmission{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .om .ourmission .om-txt{
        display: flex;
        flex-direction: column;
        max-width: 800px;
        
    }
    .om .ourmission .om-txt .heading{
        color: #000000;
        font-size: 55px;
        font-weight: 700;
        font-family: oswald;
    }
    .om .ourmission .om-txt .sub-heading{
        color: #00a1a7;
        font-size: 30px;
        font-weight: 750;
        font-family: oswald;
    }
    .om .ourmission .om-txt .txt{
        font-size: 18px;
        font-family: oswald;
        font-weight: 350;
    }
    .om .ourmission .om-txt .txt span{
        font-weight: 700;
    }
    .om .ourmission .om-txt .seeproduct button{
        color: white;
        font-size: 18px;
        font-weight: 700;
        font-family: oswald;
        background-color: #ff802f;
        border-radius: 40px;
        border: 4px solid #ff802f;
        padding: 15px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .om .ourmission .om-txt .seeproduct a:hover button{
        background-color: #fae1d7;
        color: #ff802f;
    }
    .om-soyabeen{
        margin-right: -85px;
    }
    .om-soyabeen img{
        width: 400px;
    }

    .toogood .toogoodtofu{
        font-weight: 900;
        font-size: 100px;
        font-family: oswald;
        text-align: center;
        margin: 40px;
    }
    .toogood .toogoodtxt{
        color: rgba(0, 0, 0, 0.65);
        max-width: 654px;
        text-align: center;
        font-size: 18px;
        font-family: oswald;
        display: flex;
        justify-self: center;
        margin: 30px;
    }
    .toogood .toogoodtxt span{
        color: #000000;
        font-family: Schoolbell;
        
    }
    
    .footer{
        background-color: #698e34;
        height: 450px;
        align-content: center;
        padding-bottom: 48px;
    }
    .footer .social-media{
        display: flex;
        flex-direction: row;
        justify-self: center;
        padding-top: 48px;
        margin: 16px;
    }
    .footer .social-media div a{
        color: white;
        font-size: 23px;
        margin-left: 24px !important;
        margin-right: 24px !important;
    }
    .footer .social-media div:hover a{
        color: #1c4730;
    }
    .footer .fnav{
        justify-self: center;
        display: flex;
        flex-direction: row;
        margin: 48px;
    }
    .footer .fnav div{
        margin-left: 16px !important;
        margin-right: 16px !important;
    }
    .footer .fnav div a{
        color: white;
        text-decoration: none;
        font-family: oswald;
        font-size: 20px;
        font-weight: 600;
       
    }
    .footer .fnav div:hover a{
        color: #1c4730;
    }
    .footer .privacy{
        display: flex;
        flex-direction: row;
        justify-self: center;
        margin: 48px;
    }
    .footer .privacy div a{
        color: white;
        opacity: .5;
        font-family: oswald;
        font-size: 15px;
    }
    .footer .privacy div:hover a{
        text-decoration: none;
    }
    .footer .copyright{
        color: white;
        justify-self: center;
        font-family: oswald;
        font-size: 18px;
        font-weight: 550;
    }
    .footer .develop{
        justify-self: center;
        margin-top: -15px;
    }
    .footer .develop a{
        color: white;
        font-family: oswald; 
        opacity: 0.5; 
        text-decoration: none; 
        font-size: 14px;
    }
    .footer .develop:hover a{
        text-decoration: underline;
    }
}
@media screen and (max-width: 1024px) {
    header{
        z-index: 2;
        position: fixed;
        justify-self: center;
        width: 100%;
        text-align: center;
    }
    
    .navbar-brand img{
        width:100px;
    }
    .nav{
        background-color: #b3e8e3;
    }
    .nav-item{
        list-style-type: none;
    }
    .wtbuy{
        border: 0;
        background-color: rgb(5, 73, 39);
        font-size: 22px;
        font-family: Oswald;
        border: 4px solid rgb(5, 73, 39);
        font-weight: 600;
    }
    .wtbuy:hover{
        color: rgb(5, 73, 39) !important;
        background-color: #e0de6e;
        border: 4px solid rgb(5, 73, 39);
    }
    .nav-item a{
        color: #000000;
        font-weight: 690;
        font-size: 20px;
        font-family: Oswald;
    }
    .nav-item a:hover{
        color: rgb(6, 100, 53);
    }
    .aboutsgm{
        background-image: url('../img/about-bg.jpg');
        background-size: 100%;
        z-index: 1;
        position: relative;
        padding-top: 300px;
        padding-bottom: 100px;
    }
    .aboutsgm .container{
        justify-self: left;
    }
    .txttme {
        color: white;
        font-weight: 800;
        font-size: 97px;
        font-family: oswald;
        line-height: 115px;
    }
    .tme-text{
        padding-left: 100px;
    }
    .tmeshopexplore{
        display: flex;
        flex-direction: row;
        position: relative;
    }
    .tmeshopexplore .tmeshop{
        background-color: #ff802f;
        color: white;
        border: 5px solid #ff802f;
        border-radius: 40px;
        font-size: 18px;
        font-weight: 600;
        font-family: oswald;
        padding: 16px;
        padding-left: 30px;
        padding-right: 30px;
        text-decoration: none;
    }
    .tmeshopexplore .tmeshop:hover{
        background-color: #fae1d7;
        color: #ff802f;
    }
    .tmeshopexplore .tmeexplore{
        color: white;
        text-decoration-style: wavy;
        font-size: 18px;
        font-weight: 550;
        margin: 17px;
    }
    .tmeshopexplore .tmeexplore:hover{
        color: #91b122;
    }


    .about-us{
        background-color: #00a1a7;
        padding: 20px;
        padding-top: 115px;
        padding-bottom: 115px;
    }
    .about-us .ourstory{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .about-us .ourstory .ourstory-txt{
        display: flex;
        flex-direction: column;
        max-width: 400px;
    }
    .about-us .ourstory .ourstory-txt .heading{
        color: white;
        font-size: 40px;
        font-weight: 700;
        font-family: oswald;
    }
    .about-us .ourstory .ourstory-txt .sub-heading{
        color: rgba(255, 255, 255, 0.714);
        font-size: 25px;
        font-weight: 600;
        font-family: oswald;
    }
    .about-us .ourstory .ourstory-txt .txt{
        color: white;
        font-size: 17px;
        font-weight: 350;
        font-family: oswald;
    }
    .about-us .ourstory .ourstory-img img{
        width: 210px;
        border: 10px solid white;
        transform: rotate(20deg);
    }
    

    .om{
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: #b3e8e3;
    }
    .om .ourmission{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .om .ourmission .om-txt{
        display: flex;
        flex-direction: column;
        max-width: 500px;
        
    }
    .om .ourmission .om-txt .heading{
        color: #000000;
        font-size: 55px;
        font-weight: 700;
        font-family: oswald;
    }
    .om .ourmission .om-txt .sub-heading{
        color: #00a1a7;
        font-size: 30px;
        font-weight: 750;
        font-family: oswald;
    }
    .om .ourmission .om-txt .txt{
        font-size: 18px;
        font-family: oswald;
        font-weight: 350;
    }
    .om .ourmission .om-txt .txt span{
        font-weight: 700;
    }
    .om .ourmission .om-txt .seeproduct button{
        color: white;
        font-size: 18px;
        font-weight: 700;
        font-family: oswald;
        background-color: #ff802f;
        border-radius: 40px;
        border: 4px solid #ff802f;
        padding: 15px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .om .ourmission .om-txt .seeproduct a:hover button{
        background-color: #fae1d7;
        color: #ff802f;
    }
    .om-soyabeen{
        margin-right: -57px;
    }
    .om-soyabeen img{
        width: 350px;
    }

    
    .toogood .toogoodtofu{
        font-weight: 900;
        font-size: 100px;
        font-family: oswald;
        text-align: center;
        margin: 40px;
    }
    .toogood .toogoodtxt{
        color: rgba(0, 0, 0, 0.65);
        max-width: 654px;
        text-align: center;
        font-size: 18px;
        font-family: oswald;
        display: flex;
        justify-self: center;
        margin: 30px;
    }
    .toogood .toogoodtxt span{
        color: #000000;
        font-family: Schoolbell;
        
    }
    
    
    
    .footer{
        background-color: #698e34;
        height: 450px;
        align-content: center;
        padding-bottom: 48px;
    }
    .footer .social-media{
        display: flex;
        flex-direction: row;
        justify-self: center;
        padding-top: 48px;
        margin: 16px;
    }
    .footer .social-media div{
        color: white;
        font-size: 23px;
        margin-left: 24px !important;
        margin-right: 24px !important;
    }
    .footer .social-media div:hover a{
        color: #1c4730;
    }
    .footer .fnav{
        justify-self: center;
        display: flex;
        flex-direction: row;
        margin: 48px;
    }
    .footer .fnav div{
        margin-left: 16px !important;
        margin-right: 16px !important;
    }
    .footer .fnav div a{
        color: white;
        text-decoration: none;
        font-family: oswald;
        font-size: 20px;
        font-weight: 600;
       
    }
    .footer .fnav div:hover a{
        color: #1c4730;
    }
    .footer .privacy{
        display: flex;
        flex-direction: row;
        justify-self: center;
        margin: 48px;
    }
    .footer .privacy div a{
        color: white;
        opacity: .5;
        font-family: oswald;
        font-size: 15px;
    }
    .footer .privacy div:hover a{
        text-decoration: none;
    }
    .footer .copyright{
        color: white;
        justify-self: center;
        font-family: oswald;
        font-size: 18px;
        font-weight: 550;
    }
    .footer .develop{
        justify-self: center;
        margin-top: -15px;
    }
    .footer .develop a{
        color: white;
        font-family: oswald; 
        opacity: 0.5; 
        text-decoration: none; 
        font-size: 14px;
    }
    .footer .develop:hover a{
        text-decoration: underline;
    }
}
@media screen and (max-width: 768px) {
    header{
        z-index: 2;
        position: fixed;
        justify-self: center;
        width: 100%;
    }
    
    .navbar-brand img{
        width:100px;
    }
    .nav{
        background-color: #b3e8e3;
    }
    .nav-item{
        list-style-type: none;
    }
    .wtbuy{
        border: 0;
        background-color: rgb(5, 73, 39) !important;
        font-size: 22px;
        font-family: Oswald;
        border: 4px solid rgb(5, 73, 39);
        font-weight: 600;
    }
    .wtbuy:hover{
        color: rgb(5, 73, 39) !important;
        background-color: #e0de6e;
        border: 4px solid rgb(5, 73, 39);
    }
    .nav-item a{
        color: #000000;
        font-weight: 690;
        font-size: 20px;
        font-family: Oswald;
    }
    .nav-item a:hover{
        color: rgb(6, 100, 53);
    }
    .aboutsgm{
        background-image: url('../img/about-bg.jpg');
        background-size: cover;
        z-index: 1;
        position: relative;
        padding-top: 300px;
        padding-bottom: 100px;
    }
    .aboutsgm .container{
        justify-self: left;
    }
    .txttme {
        color: white;
        font-weight: 800;
        font-size: 50px;
        font-family: oswald;
        line-height: 60px;
    }
    .tme-text{
        padding-left: 0px;
    }
    .tmeshopexplore{
        display: flex;
        flex-direction: row;
        position: relative;
    }
    .tmeshopexplore .tmeshop{
        background-color: #ff802f;
        color: white;
        border: 5px solid #ff802f;
        border-radius: 40px;
        font-size: 18px;
        font-weight: 600;
        font-family: oswald;
        padding: 16px;
        padding-left: 30px;
        padding-right: 30px;
        text-decoration: none;
    }
    .tmeshopexplore .tmeshop:hover{
        background-color: #fae1d7;
        color: #ff802f;
    }
    .tmeshopexplore .tmeexplore{
        color: white;
        text-decoration-style: wavy;
        font-size: 18px;
        font-weight: 550;
        margin: 17px;
    }
    .tmeshopexplore .tmeexplore:hover{
        color: #91b122;
    }


    .about-us{
        background-color: #00a1a7;
        padding: 20px;
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .about-us .ourstory{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .about-us .ourstory .ourstory-txt{
        display: flex;
        flex-direction: column;
        max-width: 350px;
    }
    .about-us .ourstory .ourstory-txt .heading{
        color: white;
        font-size: 40px;
        font-weight: 700;
        font-family: oswald;
    }
    .about-us .ourstory .ourstory-txt .sub-heading{
        color: rgba(255, 255, 255, 0.714);
        font-size: 25px;
        font-weight: 600;
        font-family: oswald;
    }
    .about-us .ourstory .ourstory-txt .txt{
        color: white;
        font-size: 17px;
        font-weight: 350;
        font-family: oswald;
    }
    .about-us .ourstory .ourstory-img img{
        width: 200px;
        border: 10px solid white;
        transform: rotate(20deg);
    }
    

    .om{
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: #b3e8e3;
    }
    .om .ourmission{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .om .ourmission .om-txt{
        display: flex;
        flex-direction: column;
        max-width: 450px;
        
    }
    .om .ourmission .om-txt .heading{
        color: #000000;
        font-size: 55px;
        font-weight: 700;
        font-family: oswald;
    }
    .om .ourmission .om-txt .sub-heading{
        color: #00a1a7;
        font-size: 30px;
        font-weight: 750;
        font-family: oswald;
    }
    .om .ourmission .om-txt .txt{
        font-size: 18px;
        font-family: oswald;
        font-weight: 350;
    }
    .om .ourmission .om-txt .txt span{
        font-weight: 700;
    }
    .om .ourmission .om-txt .seeproduct button{
        color: white;
        font-size: 18px;
        font-weight: 700;
        font-family: oswald;
        background-color: #ff802f;
        border-radius: 40px;
        border: 4px solid #ff802f;
        padding: 15px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .om .ourmission .om-txt .seeproduct a:hover button{
        background-color: #fae1d7;
        color: #ff802f;
    }
    .om-soyabeen{
        margin-right: -38px;
    }
    .om-soyabeen img{
        width: 200px;
    }

    
    .toogood .toogoodtofu{
        font-weight: 900;
        font-size: 100px;
        font-family: oswald;
        text-align: center;
        margin: 40px;
    }
    .toogood .toogoodtxt{
        color: rgba(0, 0, 0, 0.65);
        max-width: 654px;
        text-align: center;
        font-size: 18px;
        font-family: oswald;
        display: flex;
        justify-self: center;
        margin: 30px;
    }
    .toogood .toogoodtxt span{
        color: #000000;
        font-family: Schoolbell;
        
    }
    
    
    .footer{
        background-color: #698e34;
        height: 450px;
        align-content: center;
        padding-bottom: 48px;
    }
    .footer .social-media{
        display: flex;
        flex-direction: row;
        justify-self: center;
        padding-top: 48px;
        margin: 16px;
    }
    .footer .social-media div{
        color: white;
        font-size: 23px;
        margin-left: 24px !important;
        margin-right: 24px !important;
    }
    .footer .social-media div:hover a{
        color: #1c4730;
    }
    .footer .fnav{
        justify-self: center;
        display: flex;
        flex-direction: row;
        margin: 48px;
    }
    .footer .fnav div{
        margin-left: 16px !important;
        margin-right: 16px !important;
    }
    .footer .fnav div a{
        color: white;
        text-decoration: none;
        font-family: oswald;
        font-size: 20px;
        font-weight: 600;
       
    }
    .footer .fnav div:hover a{
        color: #1c4730;
    }
    .footer .privacy{
        display: flex;
        flex-direction: row;
        justify-self: center;
        margin: 48px;
    }
    .footer .privacy div a{
        color: white;
        opacity: .5;
        font-family: oswald;
        font-size: 15px;
    }
    .footer .privacy div:hover a{
        text-decoration: none;
    }
    .footer .copyright{
        color: white;
        justify-self: center;
        font-family: oswald;
        font-size: 18px;
        font-weight: 550;
    }
    .footer .develop{
        justify-self: center;
        margin-top: -15px;
    }
    .footer .develop a{
        color: white;
        font-family: oswald; 
        opacity: 0.5; 
        text-decoration: none; 
        font-size: 14px;
    }
    .footer .develop:hover a{
        text-decoration: underline;
    }
}

@media screen and (max-width: 425px){
    header{
        z-index: 2;
        position: fixed;
        width: 100%;
        text-align: center;
    }
    
    .nav{
        background-color: #b3e8e3;
    }
    .nav-item{
        list-style-type: none;
    }
    .wheretobuy{
        display: none;
    }
    .wtbuy{
        border: 0;
        background-color: rgb(5, 73, 39);
        font-size: 22px;
        font-family: Oswald;
        border: 4px solid rgb(5, 73, 39);
        font-weight: 600;
    }
    .wtbuy:hover{
        color: rgb(5, 73, 39) !important;
        background-color: #e0de6e;
        border: 4px solid rgb(5, 73, 39);
    }

    .nav-item a{
        color: #000000;
        font-weight: 690;
        font-size: 20px;
        font-family: Oswald;
    }
    .nav-item a:hover{
        color: rgb(6, 100, 53);
    }
    .aboutsgm{
        background-image: url('../img/about-bg.jpg');
        background-size: cover;
        z-index: 1;
        position: relative;
        padding-top: 210px;
        padding-bottom: 70px;
    }
    .aboutsgm .container{
        justify-self: left;
    }
    .txttme {
        color: white;
        font-weight: 800;
        font-size: 40px;
        font-family: oswald;
        line-height: 55px;
    }
    .tme-text{
        padding-left: 0px;
    }
    .tmeshopexplore{
        display: flex;
        flex-direction: row;
        position: relative;
    }
    .tmeshopexplore .tmeshop{
        background-color: #ff802f;
        color: white;
        border: 5px solid #ff802f;
        border-radius: 40px;
        font-size: 18px;
        font-weight: 600;
        font-family: oswald;
        padding: 16px;
        padding-left: 30px;
        padding-right: 30px;
        text-decoration: none;
    }
    .tmeshopexplore .tmeshop:hover{
        background-color: #fae1d7;
        color: #ff802f;
    }
    .tmeshopexplore .tmeexplore{
        color: white;
        text-decoration-style: wavy;
        font-size: 18px;
        font-weight: 550;
        margin: 17px;
    }
    .tmeshopexplore .tmeexplore:hover{
        color: #91b122;
    }


    .about-us{
        background-color: #00a1a7;
        padding-left: 18px;
        padding-left: 18px;
        padding-top: 60px;
        padding-bottom: 20px;
    }
    .about-us .ourstory{
        display: flex;
        flex-direction: column;
        margin: 5px;
    }
    .about-us .ourstory .ourstory-txt{
        display: flex;
        flex-direction: column;
        margin: 5px;    
        padding-top: 25px;
    }
    .about-us .ourstory .ourstory-txt .heading{
        color: white;
        font-size: 33px;
        font-weight: 700;
        font-family: oswald;
    }
    .about-us .ourstory .ourstory-txt .sub-heading{
        color: rgba(255, 255, 255, 0.714);
        font-size: 22px;
        font-weight: 620;
        font-family: oswald;
    }
    .about-us .ourstory .ourstory-txt .txt{
        color: white;
        font-size: 17px;
        font-weight: 350;
        font-family: oswald;
    }
    .about-us .ourstory .ourstory-img{
        align-self: center;
        padding-bottom: 25px;
    }
    .about-us .ourstory .ourstory-img img{
        width: 180px;
        border: 10px solid white;
        transform: rotate(20deg);
    }
    

    .om{
        padding-top: 33px;
        padding-bottom: 33px;
        background-color: #b3e8e3;
    }
    .om .ourmission{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
    }
    .om .ourmission .om-txt{
        display: flex;
        flex-direction: column;
        max-width: 800px;
        
    }
    .om .ourmission .om-txt .heading{
        color: #000000;
        font-size: 38px;
        font-weight: 700;
        font-family: oswald;
    }
    .om .ourmission .om-txt .sub-heading{
        color: #00a1a7;
        font-size: 22px;
        font-weight: 750;
        font-family: oswald;
    }
    .om .ourmission .om-txt .txt{
        font-size: 16px;
        font-family: oswald;
        font-weight: 350;
    }
    .om .ourmission .om-txt .txt span{
        font-weight: 700;
    }
    .om .ourmission .om-txt .seeproduct{
        align-self: center;
    }
    .om .ourmission .om-txt .seeproduct button{
        color: white;
        font-size: 18px;
        font-weight: 700;
        font-family: oswald;
        background-color: #ff802f;
        border-radius: 40px;
        border: 4px solid #ff802f;
        padding: 15px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .om .ourmission .om-txt .seeproduct a:hover button{
        background-color: #fae1d7;
        color: #ff802f;
    }
    .om-soyabeen{
        margin-right: -85px;
        display: none;
    }
    .om-soyabeen img{
        width: 400px;
    }


    .toogood .toogoodtofu{
        font-weight: 900;
        font-size: 35px;
        font-family: oswald;
        text-align: center;
        margin: 30px;
    }
    .toogood .toogoodtxt{
        color: rgba(0, 0, 0, 0.65);
        text-align: center;
        font-size: 15px;
        font-family: oswald;
        display: flex;
        justify-self: center;
        margin: 30px;
    }
    .toogood .toogoodtxt span{
        color: #000000;
        font-family: Schoolbell;
        
    }
    .footer{
        background-color: #698e34;
        align-content: center;
        padding-bottom: 24px;
        height: 500px;
    }
    .footer .social-media{
        display: flex;
        flex-direction: row;
        justify-self: center;
        padding-top: 16px;
        margin: 16px;
    }
    .footer .social-media div a{
        color: white;
        font-size: 18px;
        margin-left: 16px !important;
        margin-right: 16px !important;
    }
    .footer .social-media div:hover{
        color: #1c4730;
    }
    .footer .fnav{
        justify-self: center;
        display: flex;
        flex-direction: row;
    }
    .footer .fnav div a{
        color: white;
        text-decoration: none;
        font-family: oswald;
        font-size: 15px;
        font-weight: 600;
    }
    .footer .fnav div:hover a{
        color: #1c4730;
    }
    .footer .privacy{
        display: flex;
        flex-direction: column;
        justify-self: center;
        text-align: center;
        margin: 16px;
    }
    .footer .privacy div a{
        color: white;
        opacity: .5;
        font-family: oswald;
        font-size: 13px;
    }
    .footer .privacy div:hover a{
        text-decoration: none;
    }
    .footer .copyright{
        color: white;
        justify-self: center;
        font-family: oswald;
        font-size: 18px;
        font-weight: 550;
    }
    .footer .develop{
        justify-self: center;
        margin-top: -15px;
    }
    .footer .develop a{
        color: white;
        font-family: oswald; 
        opacity: 0.5; 
        text-decoration: none; 
        font-size: 13px;
    }
    .footer .develop:hover a{
        text-decoration: underline;
    }
    
    
}
@media screen and (max-width: 375px){
    header{
        z-index: 2;
        position: fixed;
        width: 100%;
        text-align: center;
    }
  
    .navbar-brand img{
        width:80px;
        padding-top: 10px;
    }
    .nav{
        background-color: #b3e8e3;
    }
    .nav-item{
        list-style-type: none;
    }
    .wheretobuy{
        display: none;
    }
    .wtbuy{
        border: 0;
        background-color: rgb(5, 73, 39);
        font-size: 22px;
        font-family: Oswald;
        border: 4px solid rgb(5, 73, 39);
        font-weight: 600;
    }
    .wtbuy:hover{
        color: rgb(5, 73, 39) !important;
        background-color: #e0de6e;
        border: 4px solid rgb(5, 73, 39);
    }

    .nav-item a{
        color: #000000;
        font-weight: 690;
        font-size: 20px;
        font-family: Oswald;
    }
    .nav-item a:hover{
        color: rgb(6, 100, 53);
    }
    .aboutsgm{
        background-image: url('../img/about-bg.jpg');
        background-size: cover;
        z-index: 1;
        position: relative;
        padding-top: 200px;
        padding-bottom: 60px;
    }
    .aboutsgm .container{
        justify-self: left;
    }
    .txttme {
        color: white;
        font-weight: 800;
        font-size: 35px;
        font-family: oswald;
        line-height: 50px;
    }
    .tme-text{
        padding-left: 0px;
    }
    .tmeshopexplore{
        display: flex;
        flex-direction: row;
        position: relative;
    }
    .tmeshopexplore .tmeshop{
        background-color: #ff802f;
        color: white;
        border: 5px solid #ff802f;
        border-radius: 40px;
        font-size: 18px;
        font-weight: 600;
        font-family: oswald;
        padding: 16px;
        padding-left: 30px;
        padding-right: 30px;
        text-decoration: none;
    }
    .tmeshopexplore .tmeshop:hover{
        background-color: #fae1d7;
        color: #ff802f;
    }
    .tmeshopexplore .tmeexplore{
        color: white;
        text-decoration-style: wavy;
        font-size: 18px;
        font-weight: 550;
        margin: 17px;
    }
    .tmeshopexplore .tmeexplore:hover{
        color: #91b122;
    }


    .about-us{
        background-color: #00a1a7;
        padding-left: 18px;
        padding-left: 18px;
        padding-top: 60px;
        padding-bottom: 20px;
    }
    .about-us .ourstory{
        display: flex;
        flex-direction: column;
        margin: 5px;
    }
    .about-us .ourstory .ourstory-txt{
        display: flex;
        flex-direction: column;
        margin: 5px;    
        padding-top: 25px;
    }
    .about-us .ourstory .ourstory-txt .heading{
        color: white;
        font-size: 30px;
        font-weight: 700;
        font-family: oswald;
    }
    .about-us .ourstory .ourstory-txt .sub-heading{
        color: rgba(255, 255, 255, 0.714);
        font-size: 21px;
        font-weight: 600;
        font-family: oswald;
    }
    .about-us .ourstory .ourstory-txt .txt{
        color: white;
        font-size: 16px;
        font-weight: 320;
        font-family: oswald;
    }
    .about-us .ourstory .ourstory-img{
        align-self: center;
        padding-bottom: 25px;
    }
    .about-us .ourstory .ourstory-img img{
        width: 150px;
        border: 5px solid white;
        transform: rotate(20deg);
    }
    

    .om{
        padding-top: 33px;
        padding-bottom: 33px;
        background-color: #b3e8e3;
    }
    .om .ourmission{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
    }
    .om .ourmission .om-txt{
        display: flex;
        flex-direction: column;
        max-width: 800px;
        
    }
    .om .ourmission .om-txt .heading{
        color: #000000;
        font-size: 35px;
        font-weight: 700;
        font-family: oswald;
    }
    .om .ourmission .om-txt .sub-heading{
        color: #00a1a7;
        font-size: 20px;
        font-weight: 750;
        font-family: oswald;
    }
    .om .ourmission .om-txt .txt{
        font-size: 15px;
        font-family: oswald;
        font-weight: 320;
    }
    .om .ourmission .om-txt .txt span{
        font-weight: 600;
    }
    .om .ourmission .om-txt .seeproduct{
        align-self: center;
    }
    .om .ourmission .om-txt .seeproduct button{
        color: white;
        font-size: 16px;
        font-weight: 700;
        font-family: oswald;
        background-color: #ff802f;
        border-radius: 40px;
        border: 4px solid #ff802f;
        padding: 15px;
        padding-left: 27px;
        padding-right: 27px;
    }
    .om .ourmission .om-txt .seeproduct a:hover button{
        background-color: #fae1d7;
        color: #ff802f;
    }
    .om-soyabeen{
        margin-right: -85px;
        display: none;
    }
    .om-soyabeen img{
        width: 400px;
    }

    .toogood .toogoodtofu{
        font-weight: 900;
        font-size: 35px;
        font-family: oswald;
        text-align: center;
        margin: 30px;
    }
    .toogood .toogoodtxt{
        color: rgba(0, 0, 0, 0.65);
        text-align: center;
        font-size: 15px;
        font-family: oswald;
        display: flex;
        justify-self: center;
        margin: 30px;
    }
    .toogood .toogoodtxt span{
        color: #000000;
        font-family: Schoolbell;
        
    }
    .footer{
        background-color: #698e34;
        align-content: center;
        padding-bottom: 24px;
        height: 480px;
    }
    .footer .social-media{
        display: flex;
        flex-direction: row;
        justify-self: center;
        padding-top: 16px;
        margin: 16px;
    }
    .footer .social-media div a{
        color: white;
        font-size: 18px;
        margin-left: 16px !important;
        margin-right: 16px !important;
    }
    .footer .social-media div:hover{
        color: #1c4730;
    }
    .footer .fnav{
        justify-self: center;
        display: flex;
        flex-direction: row;
    }
    .footer .fnav div a{
        color: white;
        text-decoration: none;
        font-family: oswald;
        font-size: 15px;
        font-weight: 600;
    }
    .footer .fnav div:hover a{
        color: #1c4730;
    }
    .footer .privacy{
        display: flex;
        flex-direction: column;
        justify-self: center;
        text-align: center;
        margin: 16px;
    }
    .footer .privacy div a{
        color: white;
        opacity: .5;
        font-family: oswald;
        font-size: 13px;
    }
    .footer .privacy div:hover a{
        text-decoration: none;
    }
    .footer .copyright{
        color: white;
        justify-self: center;
        font-family: oswald;
        font-size: 18px;
        font-weight: 550;
    }
    .footer .develop{
        justify-self: center;
        margin-top: -15px;
    }
    .footer .develop a{
        color: white;
        font-family: oswald; 
        opacity: 0.5; 
        text-decoration: none; 
        font-size: 13px;
    }
    .footer .develop:hover a{
        text-decoration: underline;
    }
    
    
}
@media screen and (max-width: 320px){
    header{
        z-index: 2;
        position: fixed;
        width: 100%;
        text-align: center;
    }
    header .navbar button{
        background-color: white;
    }
    .navbar-brand img{
        width:80px;
        padding-top: 10px;
    }
    .nav{
        background-color: #b3e8e3;
    }
    .nav-item{
        list-style-type: none;
    }
    .wheretobuy{
        display: none;
    }
    .wtbuy{
        border: 0;
        background-color: rgb(5, 73, 39);
        font-size: 22px;
        font-family: Oswald;
        border: 4px solid rgb(5, 73, 39);
        font-weight: 600;
    }
    .wtbuy:hover{
        color: rgb(5, 73, 39) !important;
        background-color: #e0de6e;
        border: 4px solid rgb(5, 73, 39);
    }
    .nav-item a{
        color: #000000;
        font-weight: 690;
        font-size: 20px;
        font-family: Oswald;
    }
    .nav-item a:hover{
        color: rgb(6, 100, 53);
    }
    .aboutsgm{
        background-image: url('../img/about-bg.jpg');
        z-index: 1;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        padding-top: 170px;
        padding-bottom: 50px;
    }
    .aboutsgm .container{
        justify-self: left;
    }
    .txttme {
        color: white;
        font-weight: 800;
        font-size: 30px;
        font-family: oswald;
        line-height: 50px;
    }
    .tme-text{
        padding-left: 0px;
    }
    
    .tmeshopexplore .tmeshop{
        background-color: #ff802f;
        color: white;
        border: 5px solid #ff802f;
        border-radius: 40px;
        font-size: 14px;
        font-weight: 600;
        font-family: oswald;
        padding: 16px;
        padding-left: 30px;
        padding-right: 30px;
        text-decoration: none;
    }
    .tmeshopexplore .tmeshop:hover{
        background-color: #fae1d7;
        color: #ff802f;
    }
    

    .about-us{
        background-color: #00a1a7;
        padding-left: 18px;
        padding-left: 18px;
        padding-top: 60px;
        padding-bottom: 20px;
    }
    .about-us .ourstory{
        display: flex;
        flex-direction: column;
        margin: 5px;
    }
    .about-us .ourstory .ourstory-txt{
        display: flex;
        flex-direction: column;
        margin: 5px;
        padding-top: 25px;
    }
    .about-us .ourstory .ourstory-txt .heading{
        color: white;
        font-size: 30px;
        font-weight: 700;
        font-family: oswald;
        
    }
    .about-us .ourstory .ourstory-txt .sub-heading{
        color: rgba(255, 255, 255, 0.714);
        font-size: 20px;
        font-weight: 600;
        font-family: oswald;
    }
    .about-us .ourstory .ourstory-txt .txt{
        color: white;
        font-size: 15px;
        font-weight: 300;
        font-family: oswald;
    }
    .about-us .ourstory .ourstory-img{
        align-self: center;
        padding-bottom: 25px;
    }
    .about-us .ourstory .ourstory-img img{
        
        width: 150px;
        border: 5px solid white;
        transform: rotate(20deg);
    }
    

    .om{
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #b3e8e3;
    }
    .om .ourmission{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
    }
    .om .ourmission .om-txt{
        display: flex;
        flex-direction: column;
        max-width: 800px;
        
    }
    .om .ourmission .om-txt .heading{
        color: #000000;
        font-size: 30px;
        font-weight: 700;
        font-family: oswald;
    }
    .om .ourmission .om-txt .sub-heading{
        color: #00a1a7;
        font-size: 18px;
        font-weight: 750;
        font-family: oswald;
    }
    .om .ourmission .om-txt .txt{
        font-size: 14px;
        font-family: oswald;
        font-weight: 300;
    }
    .om .ourmission .om-txt .txt span{
        font-weight: 500;
    }
    .om .ourmission .om-txt .seeproduct{
        align-self: center;
    }
    .om .ourmission .om-txt .seeproduct button{
        color: white;
        font-size: 14px;
        font-weight: 600;
        font-family: oswald;
        background-color: #ff802f;
        border-radius: 40px;
        border: 4px solid #ff802f;
        padding: 15px;
        padding-left: 25px;
        padding-right: 25px;
        text-align: center;
    }
    .om .ourmission .om-txt .seeproduct a:hover button{
        background-color: #fae1d7;
        color: #ff802f;
    }
    .om-soyabeen{
        margin-right: -85px;
        display: none;
    }
    .om-soyabeen img{
        width: 400px;
    }


    .toogood .toogoodtofu{
        font-weight: 900;
        font-size: 30px;
        font-family: oswald;
        text-align: center;
        margin: 30px;
    }
    .toogood .toogoodtxt{
        color: rgba(0, 0, 0, 0.65);
        text-align: center;
        font-size: 12px;
        font-family: oswald;
        display: flex;
        justify-self: center;
        margin: 30px;
    }
    .toogood .toogoodtxt span{
        color: #000000;
        font-family: Schoolbell;
        
    }
    .footer{
        background-color: #698e34;
        align-content: center;
        padding-bottom: 204px;
    }
    .footer .social-media{
        display: flex;
        flex-direction: row;
        justify-self: center;
        padding-top: 16px;
        margin: 16px;
    }
    .footer .social-media div a{
        color: white;
        font-size: 17px;
        margin-left: 16px !important;
        margin-right: 16px !important;
    }
    .footer .social-media div:hover{
        color: #1c4730;
    }
    .footer .fnav{
        justify-self: center;
        display: flex;
        flex-direction: row;
    }
    .footer .fnav div a{
        color: white;
        text-decoration: none;
        font-family: oswald;
        font-size: 14px;
        font-weight: 600;
    }
    .footer .fnav div:hover a{
        color: #1c4730;
    }
    .footer .privacy{
        display: flex;
        flex-direction: column;
        justify-self: center;
        text-align: center;
        margin: 16px;
    }
    .footer .privacy div a{
        color: white;
        opacity: .5;
        font-family: oswald;
        font-size: 11px;
    }
    .footer .privacy div:hover a{
        text-decoration: none;
    }
    .footer .copyright{
        color: white;
        justify-self: center;
        font-family: oswald;
        font-size: 15px;
        font-weight: 550;
    }
    .footer .develop{
        justify-self: center;
        margin-top: -15px;
    }
    .footer .develop a{
        color: white;
        font-family: oswald; 
        opacity: 0.5; 
        text-decoration: none; 
        font-size: 13px;
    }
    .footer .develop:hover a{
        text-decoration: underline;
    }
    
    
}








